#main
{
    height: 60em;
}

div.product
{
    padding: 1em;
    max-width: 200px;
    -o-transition:.35s;
    -ms-transition:.35s;
    -moz-transition:.35s;
    -webkit-transition:.35s;
    transition:.35s;
}


.product:hover
{
    background-color: #6b6b6b;
}

.product p
{
    margin: 0;
    max-width: 200px;
}

p.color
{
    color: greenyellow;
}

#inline
{
    display: inline;
}




.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}


/*https://exisweb.net/responsive-tables-in-wordpress
https://exisweb.net/responsive-table-plugins-and-patterns
*/ 

@media screen and (max-width: 785px) {
thead 
{
    display: none;
}
tbody td 
{
    display: block;
    }
    
#main
    
    {
        height: 130em;
    }
}

